//caontact-details section Styles

.contact-heading {
  font-family: $header-font;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2em;
}
.contact-section {
  padding: 20px;
  @include flex-layout-row;
  justify-content: space-evenly;

  h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }

  .contact-detail {
    text-align: center;
    img {
      padding-top: 40px;
      object-fit: cover;
    }
  }
}
@media (max-width: $tabletLandscape) {
  .contact-section {
    font-size: 1em;
  }
}

@media (max-width: $phonePortrait) {
  .contact-detail {
    img {
      max-width: 280px;
    }
  }
}
